:root {
    --primary-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-btn-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-btn-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
}

.btn {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    color: white;
    text-align: center;
    border: white 0.2rem solid;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

.split.left .btn:hover {
    background: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--primary-bg-color);
}

.split {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.left {
    left: 0;
    background: url(images/img1.jpg) no-repeat center center/cover;
}

.left::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--left-bg-color);
}

.right {
    right: 0;
    background: url(images/img5.jpg) no-repeat center center/cover;
}

.right::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--right-bg-color);
}

.left,
.left::before,
.right,
.right::before {
    transition: var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-left .right::before {
    z-index: 2;
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left::before {
    z-index: 2;
}

@media(max-width: 968px) {
    h1 {
        font-size: 2rem;
    }

    .btn {
        width: 12rem;
    }
}

@media(max-height: 700px) {
    .btn {
        top: 70%;
    }
}