* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

/* wrapper */
.wrapper {
    display: flex;
    height: 100vh;
}

/* left */
.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

.left .login .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8vh;
}

.left .login .logo img {
    height: 60px;
}

.left .login .logo h2 {
    text-transform: uppercase;
}

.left .login form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 3rem;
}

.login label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

.login .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    background: #181818;
    color: #ccc;
    border: 1px soilid #555;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

.left .login form div {
    display: flex;
    flex-direction: column;
}

.left .login .links a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0.5rem;
}

.left .login .or {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.or hr {
    height: 1px;
    width: 100%;
    margin: 0px 5px;
}

.left .secondary-btn {
    width: 60%;
}

/* Buttons */
.primary-btn {
    display: block;
    background: #f96816;
    width: 100%;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 1rem;
    padding: 0.7rem 1rem;
    height: 2.7rem;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover {
    opacity: 0.9;
}

.secondary-btn {
    text-decoration: none;
    text-align: center;
    width: 100%;
    background: none;
    color: white;
    font-size: 10px;
    border: 1px white solid;
    padding: 10px 10px;
    translate: all 0.5s;
    width: 60%;
    margin-top: 20px;
}

.secondary-btn:hover {
    opacity: 0.9;
}

.left footer {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.footer-links {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
}

.footer-links a {
    color: coral;
}

/* right */
.right {
    flex: 1;
    background: url(images/sky.jpeg) no-repeat center center/cover;
}

.right .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 40vh !important;
    margin: 0 5vw;
}

.content .secondary-btn {
    width: 30%;
}

/* Media queries */
@media(min-width:1200px) {
    .left {
        flex: 4;
    }

    .right {
        flex: 6;
    }
}

@media(max-width:500px) {
    .right {
        display: none;
    }
}