* {
    margin: 0;
    padding: 0;
}

.top-nav {
    padding: 1rem;
    background: #333;
    color: white;
}

.btn {
    background: coral;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover {
    opacity: 0.9;
}

.page-info {
    margin-left: 1rem;
}

.error {
    background: orangered;
    color: white;
    padding: 1rem;
}