* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: #333;
    line-height: 1.5;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide:first-child {
    background: url(images/img1.jpg) no-repeat center center/cover;
}

.slide:nth-child(2) {
    background: url(images/img2.jpg) no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url(images/img3.jpg) no-repeat center top/cover;
}

.slide:nth-child(4) {
    background: url(images/img4.jpg) no-repeat center top/cover;
}

.slide:last-child {
    background: url(images/img5.jpg) no-repeat center top/cover;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    width: 600px;
    opacity: 0;
    padding: 35px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

/* Buttons */
#prev-btn img,
#next-btn img {
    height: 50px;
    width: auto;
}

#prev-btn {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.619);
    border-radius: 60%;
}

#next-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.619);
    border-radius: 60%;
}

#prev-btn:hover,
#next-btn:hover {
    background: rgba(255, 255, 255, 0.819);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

#prev-btn:active,
#next-btn:active {
    background: rgba(255, 255, 255, 0.619);
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
}

.hide-btn {
    pointer-events: none;
    background: rgba(255, 255, 255, 0.119) !important;
}

/* for medium screens */
@media(max-width:768px) {
    .slide .content {
        bottom: -300px;
        width: 80vw;
        margin-left: 10vw;
        left: 0;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}

/* for small screens */
@media(max-width:500px) {
    .slide .content {
        bottom: -300px;
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}